name: Build and Package Extension

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up bash
      run: |
        chmod +x utils/build.sh

    - name: Run build script
      run: npm run build

    - name: Semantic Release
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: cycjimmy/semantic-release-action@v4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        extra_plugins: |
          @semantic-release/changelog
          @semantic-release/git

    - name: Upload zip artifact
      uses: actions/upload-artifact@v4
      with:
        name: wordle-extension
        path: wordle-extension.zip
