name: Build and Package Extension

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up bash
      run: |
        chmod +x utils/build.sh

    - name: Run build script
      run: npm run build

    - name: Create Tag
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      id: tag_version
      uses: anothrNick/github-tag-action@1.64.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
        DEFAULT_BUMP: patch

    - name: Create Release
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: softprops/action-gh-release@v2
      with:
        files: wordle-extension.zip
        tag_name: ${{ steps.tag_version.outputs.new_tag }}
        name: Release ${{ steps.tag_version.outputs.new_tag }}
        body: |
          Automatically generated release for ${{ steps.tag_version.outputs.new_tag }}.
          
          Change Log:
          ${{ github.event.head_commit.message }}
        prerelease: false
        make_latest: true

    - name: Upload zip artifact
      uses: actions/upload-artifact@v4
      with:
        name: wordle-extension
        path: wordle-extension.zip
